[Desktop Entry]
Version=1.0
Name=Winter
GenericName=Winter for PTTOO
Comment=Henjou Smart Factory
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;